@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto&display=swap");

@keyframes backgroundGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  /* background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861); */
  background: #dd1964;
  background-size: 400% 400%;
  animation: backgroundGradient 30s ease-in-out infinite;
}

h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  text-decoration: underline;
}

.Title {
  padding-bottom: 6%;
}

.round-number {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 35px;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.computer-area,
.user-area {
  border-style: dashed;
  /* border-radius: 5px; */
  max-width: 48vw;
  margin: 10px;
  padding: 10px;
  min-height: 60vh;
}
/* on the left */
.computer-area {
  -ms-flex-align: start;
  /* border-right-color: black; */
  /* border-style: solid; */
}
/* on the right */

.user-area {
  -ms-flex-align: end;
}

.top-text {
  text-align: center;
  font-size: 25px;
  padding-top: 6%;
}

.svg {
  border-color: white;
  border-style: solid;
  transform: scale(0.7);
  height: 180px;
  width: auto;
  padding: 15px 8px;
}

.user-choice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
